@import "_variables";

* {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    .leftNav {
        display: flex;
        width: 66.6%;
        &:hover {
            background-color: $bg;
            color: black !important;
        }
        .zoo {
            display: flex;
            padding-left: 10px;
            align-items: center;

            width: 15%;
            font-size: 30px;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
        .contact {
            display: flex;
            width: 80%;
            font-size: 30px;
            align-items: center;
            gap: 30px;
            color: $bg;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
    .rightNav {
        display: flex;
        width: 33.3%;
        &:hover {
            background-color: $bg;
        }
        .project {
            display: flex;
            font-size: 30px;
            width: 100%;
            align-items: center;
            gap: 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    width: 100%;
    margin-top: 30px;
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-transform: uppercase;
        article {
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            div {
                display: flex;
                align-items: center;
                font-size: 15px;
                padding: 5px;
                font-weight: 500;
            }
        }
    }
}
